@inject Auth Auth
@model DriveForum.ViewModels.UserProfileVM
<div class="profilemaincontainer">
    <div class="profileandinfo">
        <div class="profileblock">
            <div class="profileblockimage">
                <img class="profileblockimg" src="https://cdn-icons-png.flaticon.com/512/3682/3682281.png">
            </div>
            <div class="profileblockusername">
                <span>@Model.User.Username.ToString()</span>
            </div>
            <div class="profileblockrole">
                <span>@Model.User.Role.ToString()</span>
            </div>
        </div>
        <div class="profileinfoblock">
            <span>Логин: @Model.User.Login.ToString()</span><br/>
            <span>Email: @Model.User.Email.ToString()</span><br/>
            <span>Описание:</span><br/>
            <span>@Model.User.Description?.ToString()</span>

        @if (Auth?.User?.Id == Model?.User?.Id)
        {
        <form method="post" asp-action="ChangeDesc" asp-controller="Profile">
            <input type="hidden" name="id" value="@Auth?.User?.Id"/>
            <input type="text" name="description" value="@Model.User.Description" maxlength="99" title="Введите описание, не более 100 символов."/>
            <input type="submit" value="Сохранить" />
        </form>
        }
        </div>
    </div>
    <div class="profilecars">
        Машины пользователя: 
        @foreach (var item in Model.User.Cars)
        {
            <span class="profilecarname">@item.Car.ToString()</span>
        }
    </div>
</div>