@inject Auth Auth;
@inject CarsContext CarsContext;
@model DriveForum.ViewModels.CarAndUserPost;

<html>
    <head>
    </head>
    <body>
    @if (Auth?.User == null)
    {
        <label>иди</label>
    }
    else
    {
    <form asp-controller="Post" asp-action="CreatePost" asp-route-userId="@Auth?.User?.Id">
        <select asp-for="CarId">
            @{
                foreach (var item in CarsContext.Cars.OrderBy(car=> car.Model.Brand.Name.ToString()).ToList())
                {
                    <option value="@item.Id">@item.Model.Brand.Name.ToString() @item.Model.Name.ToString() @item.Engine.Name.ToString() @item.Engine.Capacity.ToString()L</option>
                }
            }
        </select>
        <input type="text" asp-for="Title" />
        <input type="text" asp-for="Main" />
        <input type="submit" value="send" />
        </form>
        }
    </body>
</html>

<style>
    select, option{
        font-size: 20px;
        color: black;
    }
</style>