@inject Auth Auth
@model DriveForum.Models.UserPost

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/MainPost.css" />
    </head>
    <body>
    <div class="post-container">
        @if (Auth?.User?.Role == DriveForum.Models.Roles.Moderator)
        {
            <div class="hidepostbutton">
            <a asp-controller="Post" asp-action="VisiblePost" asp-route-postid="@Model.Id">
                @if (Model.IsModerated) { <button>Скрыть</button> } 
                else { <button>Показать</button> }
            </a>
            </div>
        }
        <div class="post-header">
            <div class="profile-info">
                <img class="profile-pic" src="https://cdn-icons-png.flaticon.com/512/3682/3682281.png">
                <a class="username" asp-controller="Profile" asp-action="ProfilePage" asp-route-login="@Model.User?.Login">@Model.User?.Username</a>
            </div>
            <div class="post-date">@Model.PostDate.ToLongDateString() в @Model.PostDate.ToShortTimeString()</div>
        </div>
        <div class="car-details">
            @Model.Car.ToString()
        </div>
        <div class="post-content">
            <div class="content-main">
                <div class="post-title">
                    <a>@Model.Title</a>
                </div>
                <div class="post-text">
                    @Model.Main
                </div>
            </div>
            <div class="car-image-container">
                <img class="car-image" src="@Model.MainPhotoUrl" />
            </div>
        </div>
        <div>
            <h2>Комментарии:</h2>
            @{foreach (var item in Model.Comments)
                {
                    @if (Auth?.User?.Role == DriveForum.Models.Roles.Moderator)
                    {
                        @if (Model?.User?.Id != item.User.Id) {@await Html.PartialAsync("SingleComment", item)}
                        else { @await Html.PartialAsync("SingleAuthorComment", item)}
                        <div class="hidecommentbutton">
                        <a asp-controller="Post" asp-action="VisibleComment" asp-route-commentid="@item.Id" asp-route-postid="@Model?.Id">
                            @if (!item.IsHidden) { <button>Скрыть комментарий</button> }
                            else { <button>Показать комментарий</button> }
                        </a>
                        </div>
                        <br />
                    }
                    else
                    {    @if (!item.IsHidden)
                        {
                             @if (Model?.User?.Id != item.User.Id) {@await Html.PartialAsync("SingleComment", item)}
                             else { @await Html.PartialAsync("SingleAuthorComment", item)}
                             <br />
                        }
                    }
                }
            }
            <form class="comment-form" method="post" asp-action="AddComment" asp-controller="Post">
                <input type="hidden" name="userid" value="@Auth?.User?.Id" />
                <input type="hidden" name="postid" value="@Model?.Id" />
                <textarea name="commentbody" rows="4" cols="50" placeholder="Введите ваш комментарий здесь..." class="comment-textarea"></textarea>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
    </body>
</html>