@inject Auth Auth
@model DriveForum.Models.UserPost

<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/css/MainPost.css" />

    </head>

    <body>
    <div class="post-container">
        <div class="post-header">
            <div class="profile-info">
                <img class="profile-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
                <a class="username" href="/Profile/ProfilePage?login=@Model.User?.Login">@Model.User?.Username</a>
            </div>
            <div class="post-date">@Model.PostDate.ToLongDateString() в @Model.PostDate.ToShortTimeString()</div>
        </div>

        <div class="car-details">
            @Model.Car.ToString()
        </div>

        <div class="post-content">
            <div class="content-main">
                <div class="post-title">
                    <a href="/Post/DetailedPostWithComments?postid=@Model.Id">@Model.Title</a>
                </div>
                <div class="post-text">
                    @Model.Main
                </div>
            </div>
            <div class="car-image-container">
                <img class="car-image" src="@Model.MainPhotoUrl" alt="Car Image" />
            </div>
        </div>
    </div>

    </body>
</html>