@inject Auth Auth
@model DriveForum.Models.UserPost

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/MainPost.css" />
    </head>
    <body>
    <div class="post-container">
        <a asp-controller="Post" asp-action="VisiblePost" asp-route-postid="@Model.Id">@if (Model.IsModerated)
            {
                <button>Скрыть</button>
            } 
            else
            {
                <button>Показать</button>
            }
        </a>
        <div class="post-header">
            <div class="profile-info">
                <img class="profile-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
                <a class="username" asp-controller="Profile" asp-action="ProfilePage" asp-route-login="@Model.User?.Login">@Model.User?.Username</a>
            </div>
            <div class="post-date">@Model.PostDate.ToLongDateString() в @Model.PostDate.ToShortTimeString()</div>
        </div>
        <div class="car-details">
            @Model.Car.ToString()
        </div>
        <div class="post-content">
            <div class="content-main">
                <div class="post-title">
                    <a>@Model.Title</a>
                </div>
                <div class="post-text">
                    @Model.Main
                </div>
            </div>
            <div class="car-image-container">
                <img class="car-image" src="@Model.MainPhotoUrl" />
            </div>
        </div>
        <div>
            <h2>Комментарии:</h2>
            @{foreach (var item in Model.Comments)
                {
                    @if (Model.User.Id != item.User.Id) {@await Html.PartialAsync("SingleComment", item) <br />}
                    else
                    {
                        @await Html.PartialAsync("SingleAuthorComment", item) <br />
                    }
                }
            }
            <form class="comment-form" method="post" asp-action="AddComment" asp-controller="Post">
                <input type="hidden" name="userid" value="@Auth?.User?.Id" />
                <input type="hidden" name="postid" value="@Model.Id" />
                <textarea name="commentbody" rows="4" cols="50" placeholder="Введите ваш комментарий здесь..." class="comment-textarea"></textarea>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
    </body>
</html>