@model DriveForum.ViewModels.FilteredFeed

<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/css/SinglePost.css">
    <link rel="stylesheet" type="text/css" href="/css/Default.css">
    </head>
<body>

    <form method="get" onsubmit="return removeEmptyParams(this);">
        <select asp-for="@Model.CarBrand" asp-items="@Model.AvailableCarBrands">
            <option value="">Выберите бренд:</option>
        </select>
        <select asp-for="@Model.CarModel" asp-items="@Model.AvailableCarModels">
            <option value="">Выберите модель:</option>
        </select>
        <select asp-for="@Model.CarEngine" asp-items="@Model.AvailableCarEngines">
            <option value="">Выберите двигатель:</option>
        </select>
        @if (Auth.User?.Role == DriveForum.Models.Roles.Moderator)
        {
            <select asp-for="@Model.IsModerated">
                <option value="null">Неважно</option>
                <option value="true">Прошел модерацию</option>
                <option value="false">На модерации</option>
            </select>
        }
        <input type="submit" value="Отфильтровать" />
    </form>
    
    @{
        if (Model.UserPosts.Count == 0)
        {
            <h1 style="text-align: center">Постов пока что нет!</h1>
        }
        else
        {
            <div>               
            @foreach (var item in Model.UserPosts)
            {
                @await Html.PartialAsync("OnePost", item)
            }
            </div>
        }
    }
    <script>
        function removeEmptyParams(form) {
            const elements = form.elements;
            for (let i = elements.length - 1; i >= 0; i--) {
                const element = elements[i];
                if (element.tagName === 'SELECT' && element.value === '') {
                    element.name = '';
                }
            }
            return true;
        }
    </script>
    </body>
</html>
