@model DriveForum.Models.Comment

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/SingleComment.css" />
</head>
</html>

<div class="comment">
    <div class="comment-header">
        <img class="comment-avatar" src="@Model.User.PhotoUrl">
        <a class="comment-username" asp-controller="Profile" asp-action="ProfilePage" asp-route-login="@Model.User?.Login">@Model.User?.Username</a>
        <h4 class="author">Автор поста</h4>
    </div>
    @if (!Model.IsHidden) { <div class="comment-body-show">@Model.Context</div> }
    else { <div class="comment-body-unshow">@Model.Context</div> }
    <div class="comment-footer">
        <span class="comment-date">@Model.CommentDate.ToLongDateString() в @Model.CommentDate.ToShortTimeString()</span>
    </div>
</div>