@inject DriveForum.Context.Auth Auth
@model DriveForum.ViewModels.CarsForModerator

<html>
<head>
    <link rel="stylesheet" href="/css/CarsForModerator.css">
</head>
<body>
    <div class="container">
        <h3>@TempData["Error"]</h3>
        <div class="instructions">
            <h4>Для создания новой марки машины необходимо заполнить только <b>Марка</b> и <b>Страна</b>.</h4>
            <h4>Для создания новой модели машины необходимо заполнить <b>Марка</b> и <b>Страна</b>, <b>Модель</b> и <b>Год</b>.</h4>
            <h4>Для создания нового двигателя необходимо заполнить только <b>Двигатель</b> и <b>Объем</b>.</h4>
            <h4>Для создания новой машины необходимо заполнить <b>все поля</b>.</h4>
        </div>
        <form asp-controller="Car" asp-action="NewCar">
            <table>
                <tr>
                    <td><label for="brand">Марка:</label></td>
                    <td><input type="text" id="brand" name="brandname" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="country">Страна:</label></td>
                    <td><input type="text" id="country" name="country" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="model">Модель:</label></td>
                    <td><input type="text" id="model" name="modelname" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="year">Год:</label></td>
                    <td><input type="number" id="year" name="modelyear" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="engine">Двигатель:</label></td>
                    <td><input type="text" id="engine" name="enginename" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="capacity">Объем:</label></td>
                    <td><input type="number" id="capacity" name="enginecapacity" maxlength="50"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Создать" /></td>
                </tr>
            </table>
        </form>

        <div class="data-section">
            <h2>Машины:</h2>
            <table class="data-table">
                @foreach (var item in Model.Cars)
                {
                    <tr>
                        <td>@item.ToString() (@item.Model.Brand.Country.ToString())</td>
                        <td><a asp-controller="Car" asp-action="Delete" asp-route-carid="@item.Id"><button class="delete-btn">Удалить</button></a></td>
                    </tr>
                }
            </table>

            <h2>Марки с моделями:</h2>
            @foreach (var item in Model.Brands)
            {
                <table class="data-table">
                    <tr>
                        <th>@item.Name</th>
                        <th><a asp-controller="Car" asp-action="Delete" asp-route-brandid="@item.Id"><button class="delete-btn">Удалить</button></a></th>
                    </tr>
                    @foreach (var itemsinitem in item.CarModels)
                    {
                        <tr>
                            <td>@itemsinitem.Name @itemsinitem.Year</td>
                            <td><a asp-controller="Car" asp-action="Delete" asp-route-modelid="@itemsinitem.Id"><button class="delete-btn">Удалить</button></a></td>
                        </tr>
                    }
                </table>
            }

            <h2>Двигатели:</h2>
            <table class="data-table">
                @foreach (var item in Model.Engines)
                {
                    <tr>
                        <td>@item.ToString()</td>
                        <td><a asp-controller="Car" asp-action="Delete" asp-route-engineid="@item.Id"><button class="delete-btn">Удалить</button></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
